
.jogja-museum-batik {
    background: url('../img/jogja-museum-batik.jpg');
}

.jogja-museum-wayang {
    background: url('../img/jogja-museum-wayang.jpg');
}

.jogja-candi-prambanan {
    background: url('../img/jogja-candi-prambanan.jpg');
}

.jogja-candi-borobudur{
    background: url('../img/jogja-candi-borobudur.jpg');
}

.jogja-goa-pindul{
    background: url('../img/jogja-goa-pindul.jpg');
}

.jogja-kalibiru {
    background: url('../img/jogja-kalibiru.jpg');
}

.bandung-saung-udjo {
    background: url('../img/bandung-saung-udjo.jpg');
}

.bandung-gedung-merdeka {
    background: url('../img/bandung-gedung-merdeka.jpg');
}

.bandung-kawah-putih{
    background: url('../img/bandung-kawah-putih.jpg');
}

.bandung-maribaya{
    background: url('../img/bandung-maribaya.jpg');
}

.bandung-floating-market{
    background: url('../img/bandung-floating-market.jpg');
}

.bandung-tangkuban-perahu {
    background: url('../img/bandung-tangkuban-perahu.jpg');
}

.bali-pura-tanahlot {
    background: url('../img/bali-pura-tanahlot\ .jpg');
}

.bali-pura-uluwatu {
    background: url('../img/bali-pura-uluwatu\ .jpg');
}

.bali-gwk {
    background: url('../img/bali-gwk\ .jpg');
}

.bali-bedugul {
    background: url('../img/bali-bedugul.jpg');
}

.bali-nusa-penida {
    background: url('../img/bali-nusa-penida.jpg');
}
.gambar {
    background-size: 318px 175px;
    height: 175px;
}